$primary: rgb(111, 0, 255);

.home {
    background-color: #f4f4f4;
    color: $primary;
    font-weight: bold;
}

.list {
    background-color: #f4f4f4;
    color: $primary;
    font-weight: bold;
}

.countries {
    background-color: #f4f4f4;
    color: $primary;
    font-weight: bold;
}

.states {
    background-color: #f4f4f4;
    color: $primary;
    font-weight: bold;
}
