@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

$primary: rgb(111, 0, 255);

body {
    background-color: #f4f4f4;
    margin: 0;
    font-family: 'Quicksand', 'sans-serif';
    font-size: 18px;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background: $primary;
    padding: 1em 0;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 5px 10px rgba($color: #000000, $alpha: 0.3);

    a {
        color: white;
        text-decoration: none;
    }

    a.logo {
        font-weight: bold;
    }

    nav {
        float: right;

        ul {
            list-style-type: none;
            margin: 0;
            display: flex;

            li a {
                padding: 1em;

                &:hover {
                    background: darken($color: $primary, $amount: 10%);
                }
            }
        }
    }
}

h1 {
    margin-top: 2em;
}
